<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Admin </title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"> </script>
    <link rel='stylesheet' href='bootstrap/css/bootstrap.min.css' type='text/css' media='all'>

</head>
<body style="background-color:#555555">
<div class="row">
    <div class = "col-lg-3">
        <ul class="nav nav-tabs nav-stacked" style = "background: #333;">
            <li><a href="#">Добавить книгу</a></li>
            <li><a href="#">Добавить автора</a></li>
            <li><a href="#">Добавить жанр</a></li>
            <li><a href="#">Редактировать</a></li>
            <li><a href="#">График активности посещений</a></li>
        </ul>
    </div>
    <div class="col-md-offset-3">
        <form role="form">
            <div class="container-fluid">
                <div class="form-group">
                    <label for="name" class="col-lg-2">Название книги</label>
                    <input type="text" class="col-lg-4" id="name" />
                </div>
            </div><br />
            <div class="container-fluid">
                <div class="form-group">
                    <label for="author" class="col-lg-2">Автор книги</label>
                    <input type="text" class="col-lg-4" id="author" />
                </div>
            </div><br />
            <div class="container-fluid">
                <div class="form-group">
                    <label for="madeby" class="col-lg-2">Издательство</label>
                    <input type="text" class="col-lg-4" id="madeby" />
                </div>
            </div><br />
            <div class="container-fluid">
                <div class="form-group">
                    <label for="janre" class="col-lg-2">Жанр</label>
                    <input type="text" class="col-lg-4" id="janre" />
                </div>
            </div><br />
            <div class="container-fluid">
                <div class="form-group">
                    <label for="comment" class="col-lg-2">Описание</label>
                    <textarea class="col-lg-8" rows='10' id="comment"></textarea>
                </div>
            </div><br />
            <div class="container-fluid">
                <div class="form-group">
                    <label for="file" class="col-lg-2">Выбрать файл</label>
                    <input type="file" class="col-lg-4" id="file" />
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>