<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книжный магазин</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>
<div id="top">
    <input id="vhod" type="button" value="Вход" />
    <input id='search' type='search' value='Поиск по сайту'/>
    <input id='search1' type='submit' value='Найти' />
</div>
<div id="formy">
    <form>
        <input name='email' type='email' />
    </form>
    <form>
        <input type='password' />
    </form>
    <form>
        <input type='submit' value='Войти   ' />
    </form>

</div>

<div id="car">
    <div class="carousel">
        <div class="carousel-button-left"><a href="#"></a></div>
        <div class="carousel-button-right"><a href="#"></a></div>
        <div class="carousel-wrapper">
            <div class="carousel-items">
                <div class="carousel-block">
                    <img src="images/1.jpeg" alt="1" />
                </div>
                <div class="carousel-block">
                    <img src="images/2.jpeg" alt="2" />
                </div>
                <div class="carousel-block">
                    <img src="images/3.jpg" alt="3" />
                </div>
                <div class="carousel-block">
                    <img src="images/4.jpg" alt="4" />
                </div>
                <div class="carousel-block">
                    <img src="images/5.jpeg" alt="5" />
                </div>
                <div class="carousel-block">
                    <img src="images/6.jpeg" alt="6" />
                </div>
                <div class="carousel-block">
                    <img src="images/7.jpeg" alt="7" />
                </div>
                <div class="carousel-block">
                    <img src="images/8.jpeg" alt="8" />
                </div>
            </div>
        </div>

    </div>
</div>


<div id="nav">
    <ul>
        <li>
            <div class="butnav">Фантастика</div>
            <ul>
                <li class="navlit">Космическая фантастика</li>
                <li class="navlit">Научная фантастика</li>
                <li class="navlit">Юмористическая фантастика</li>
                <li class="navlit">Ужасы и мистика</li>
            </ul>
        </li>
        <li>
            <div class="butnav">Фэнтези</div>
        </li>
        <li>
            <div class="butnav">Детективы</div>
        </li>
        <li>
            <div class="butnav">Триллеры</div>
        </li>
        <li>
            <div class="butnav">Приключения</div>
            <ul>
                <li class="navlit">Вестерны</li>
                <li class="navlit">Исторические приключения</li>
                <li class="navlit">Морские приключения</li>
                <li class="navlit">Природа и животные</li>
                <li class="navlit">Путешествия</li>
            </ul>
        </li>
        <li>
            <div class="butnav">Детская литература</div>
            <ul>
                <li class="navlit">Образовательная литература</li>
                <li class="navlit">Фантастика</li>
                <li class="navlit">Приключения</li>
                <li class="navlit">Стихи</li>
                <li class="navlit">Фольклор</li>
                <li class="navlit">Сказки</li>
            </ul>
        </li>
        <li>
            <div class="butnav">Любовные романы</div>
        </li>
        <li>
            <div class="butnav">Документальная литература</div>
        </li>
        <li>
            <div class="butnav">Юмор</div>
        </li>
    </ul>

</div>
<div id="content">
    <div class="con"> </div>

</div>

<div id="spec">
    <h3 style='text-align:center; color:#cccccc'> Специальные предложения </h3>
    <div id='specpic'>
        <img src="images/1.jpeg" alt="1" />
    </div>

</div>

<div id="foot">

</div>


</body>
</html>