body {
    background-color: lightgreen;
    height: 100%;
    width: 100%;
}
/*Navigation*/
.navbar {
    margin-bottom: 0px;
}
.navbar-default {
    background-color: #35373d;
    border-color: #373a3c;
}
.navbar-default .navbar-nav > li > a {
     color: #e4f0ec;
 }
.navbar-default .navbar-nav > li > a:hover {
    color: #bbbfbe;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #888;
    color: #e4f0ec;
}
.dropdown-menu {
    background-color: #888;
}
.btn-default {
    background-color: #888;
    border-color: #8e929c;
    color: #e4f0ec;
}
.btn-default:hover {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active {
    color: #333333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
/*Search*/
#detailedSearch {
    width: 100%;
    height: 250px;
    background-color: #35373d;
    display: none;
}
#rightSearch {
    border-left: 2px solid;
    border-color: #e6e6e6;
}
#rightSearch, #leftsearch {
    height: 250px;
}
h3 {
    color: #e4f0ec;
}
div.checkbox {
    color: #e4f0ec;
}